<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SciRunner</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html {
          position: relative;
          min-height: 100%;
        }

        body {
          /* Margin bottom by footer height */
          margin-bottom: 60px;
        }

        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 80px;
          background-color: #f5f5f5;
        }

        .container .text-muted {
          margin-top: 20px;
          margin-bottom: 20px;
        }

       .task_list {
            background-color: #7c9bad;
            margin-left: 2%;
            margin-right: 2%;
            text-align: left;
        }

        .new_task {
            background-color: #001f3f;
            width: 95%;
        }

        .new_task h3 {
            color: white;
            margin-top: 10px;
        }

        .new_task_lighter {
            background-color: #DDDDDD;
            padding: 10px;
            width: 95%;
        }

        .new_task_lighter h3 {
            color: white;
            margin-top: 10px;
        }

        table {
            border-collapse: collapse;
        }

        td {
            padding: 5px;
            vertical-align: top;
        }

        input[type=text], select {
            color: black;
        }

        .fa-input {
          font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

    </style>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            browserspace = '/browser';
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var browsersocket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + browserspace);
            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            browsersocket.on('connect', function() {
                browsersocket.emit('my_event', {data: 'I\'m connected!'});
            });

            browsersocket.on('new_tasks', function(data) {
                if (data["task_id"] == -1)
                    browsersocket.emit('get_user_tasks');
            });

            var task_contents = {};
            var task_charts = [];
            browsersocket.on('user_tasks', function(data) {

                browsersocket.emit('get_phones');

                browsersocket.on('phone_data', function(stats) {
                  stats_json = JSON.parse(stats["data"]);
                  $('#tasklist tbody tr').remove();

                  data.forEach(function(task) {
                      var task_status_str = '';

                      if(task.in_progress)
                          task_status_str = '<td><i class="fa fa-spinner fa-spin"></i>&nbspRunning . . .</td>';
                      else if(task.is_complete)
                          task_status_str = '<td>Complete!</td>';
                      else
                          task_status_str = '<td>Ready</td>';

                      $('#tasklist').append(

                        '<tr id=\"' + task.task_id + '\">' +
                           '<td><button class="expand_btn btn btn-default" name=""' +
                                        'value=" " id="content' + task.task_id + '">' +
                                '<i class="fa fa-ellipsis-h" style="font-size:16px"></i>' +
                            '</button></td>' +
                            '<td>' + task.task_name + '</td>' +
                            task_status_str +
                            '<td>' + task.time_submitted + '</td>' +
                            '<td>' + task.time_started + '</td>' +
                            '<td>' + task.time_completed + '</td>' +
                            '<td> <form id="delete_task"  action="tasks/del/' + task.task_id + '" method="POST" enctype="multipart/form-data">' +
                            '    <input type="submit" class="fa btn btn-default" value="&#xf00d;" alt="Submit Form"/>' +
                            '</form></td>' +
                        '</tr>'
                      );

                      var possibleGetResultsButton = task.is_complete ?
                          '<label>' +
                          '<a class="btn btn-success" style="margin-left:10px;" href="/tasks/get/' + task.task_id + '">Get results</a>' +
                          '</label>' : '';

                      var task_expanded = $(
                          '<div id="content' + task.task_id + '" style="display: none;">' +
                          '    <p><b>Description: </b>' + task.task_desc + '</p>' +
                          '      <form class="form-inline" id="update_data" action="tasks/' + task.task_id +'" method="POST" enctype="multipart/form-data">' +
                          '          <b>Amend uploaded code or data:</b>' +
                          '          <label class="btn btn-default btn-file">' +
                          '              Select replacement JS code <input type="file" name="JS_FILE" style="display: none;">' +
                          '          </label>' +
                          '          <label class="btn btn-default btn-file">' +
                          '              Select replacement data archive <input type="file" name="ZIP_FILE" style="display: none;">' +
                          '          </label>&nbsp;&nbsp;' +
                          '          <label class="btn btn-primary btn-file">' +
                          '              Reupload Files <input type="submit" value="Reupload files" style="display: none;">' +
                          '          </label>' + possibleGetResultsButton +
                          '      </form>' +
                          '</div>'
                      );

					  task_contents[String(task.task_id)] = task_expanded;

                      var chart_container = $('<div class="chart-container" style="margin-top:20px; position: relative; height:15vh; width:80vw"></div>');
                      var cur_chart = $('<canvas width="1000" height="100" id="chart' + task.task_id + '"></canvas>');
                      task_charts.push(cur_chart);

                      $(chart_container).append(cur_chart);
                      $(task_expanded).append(chart_container);
                      var ctx = $(cur_chart)[0].getContext('2d');

                      var datapoints = [];
                      var labels = $.map(stats_json[task.task_id], function(item){
                          datapoints.push(item[1]);
                          return item[0];
                      });

                      var chart = new Chart(ctx, {
                          // The type of chart we want to create
                          type: 'line',

                          // The data for our dataset
                          data: {
                              labels: labels,
                              datasets: [{
                                  label: "Number of active workers",
                                  backgroundColor: 'rgb(176,196,222)',
                                  borderColor: 'rgb(255,0,0)',
                                  data: datapoints,
                              }]
                          },

                          // Configuration options go here
                          options: {
                              scales: {
                                  yAxes: [{
                                      ticks: {
                                          beginAtZero:true
                                      }
                                  }]
                              }
                          }
                      });

                      $('#tasklist > tbody').append('<tr><td colspan="7">').append(task_expanded);
                      $('#tasklist > tbody').find('td:last').append(task_expanded);
                      $('#tasklist > tbody').append('</td></tr>');
                  });
                });

            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                browsersocket.emit('my_ping');
            }, 1000);
            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            browsersocket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });


            $(document).on("click", ".expand_btn", function(event) {
              event.preventDefault();
              task_contents[$(this).attr('id').substr(7)].slideToggle("slow");
            });

            $( '.fileinput').change(function(){
               $( 'span' ).text($( this ).val() );
            });

            $(document).ready(function () {
                $('#msgmodal').modal('show');
                browsersocket.emit('get_user_tasks');
            });
        });

    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">sciRunner Server internal alpha</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Task manager</a></li>
          <li><a href="/monitor">Server monitor</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid new_task">
      <div class="row">
          <div class="col-sm-12">
          <h3>NEW TASK</h3>
          </div>
      </div>
    </div>
    <div class="container-fluid new_task_lighter">
      <div class="row">
        <div class="col-sm-12">
          <form class="form-inline" id="upload"  action="tasks" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="taskname">Task name:</label>
                <input class="form-control" id="taskname" type="text" name="TASK_NAME" value="">
              </div>
              <div class="form-group">
                <label for="taskdesc">Task description:</label>
                <input class="form-control" id="taskdesc" type="text" name="TASK_DESC" value="">
              </div>
              <label class="btn btn-default btn-file">
                  Select JavaScript code <input type="file" name="JS_FILE" style="display: none;">
              </label>
              <label class="btn btn-default btn-file">
                  Select data archive <input type="file" name="ZIP_FILE" style="display: none;">
              </label>&nbsp;&nbsp;
              <label class="btn btn-primary btn-file">
                  Upload Files <input type="submit" value="Upload files" style="display: none;">
              </label>
          </form>
        </div>
      </div>
    </div>
    <br/>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="modal fade" id="msgmodal" role="dialog">
          <div class="modal-dialog modal-bg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Server response</h4>
              </div>
              <div class="modal-body">
                {% for message in messages %}
                  {{ message }} <br/>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <div class="container-fluid new_task">
    <div class="row">
        <div class="col-sm-12">
        <h3>TASK MANAGER</h3>
        </div>
    </div>
    </div>
    <div class="container-fluid new_task_lighter">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped" id="tasklist">
              <thead>
                  <th>Expand</th>
                  <th>Task name</th>
                  <th>Task status</th>
                  <th>Time submitted</th>
                  <th>Time started</th>
                  <th>Time completed</th>
                  <th>Remove task</th>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">
          Copyright (c) sciRunner Team 2017, All rights reserved.<br/>
          Average ping/pong latency: <b><span id="ping-pong"></span>ms</b>
        </p><br/>
      </div>
    </footer>
</body>
</html>
