<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask-SocketIO Test</title>
    <style>
        .serverui {
            background-color: #d3d3d3;
        }

        .task_list {
            background-color: #7c9bad;
            margin-left: 2%;
            margin-right: 2%;
            text-align: left;
        }

        .new_task {
            background-color: #7c9bad;
            margin-left: 2%;
            margin-right: 2%;
            text-align: left;
        }

        table {
            border-collapse: collapse;
        }

        td {
            padding: 5px;
            vertical-align: top;
        }

        [id*=content] {
            background-color: #7c9bad;
            position: absolute;
            display: none;
        }

        input[type=text], select {
            color: black;
        }

        #footer {
            background-color: #d3d3d3;
            position: absolute;
            text-align: center;
            padding: 1rem;
            left: 0;
            right: 0;
            bottom: 0;

        }

        .upload_button {
            display: inline-flex;
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);
            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });


            $(".expand_btn").button().click(function() {
                var row = $(this).closest('tr');
                var content = $(this).data("href")

                if ($(content).is(":visible")) {
                   $(row).css({"height" : "auto"});
                   $(content).css({"display" : "none", "left": "auto", "top" : "auto"});
               } else  {
                   $("tr").css({"height" : "auto"});
                   var conH = $(content).height();
                   var rowH = $(row).height();
                   var updatedHeight = conH + rowH;
                   $(row).css({"height" : updatedHeight});
                                   var left = $(row).position().left;
                var top = $(row).position().top + rowH + 'px';
                   $("[id*=content]").css({"display" : "none", "left": "auto", "top" : "auto"});
                   $(content).css({"display" : "block", "auto": left, "top" : top});
                   var newBg = $(row).css("background-color");
                   $(content).css({"background-color" : newBg});
               }
            });

            $( '.fileinput').change(function(){
               $( 'span' ).text($( this ).val() );
            });
        });

    </script>
</head>
<body class="serverui">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PhoneMapServer internal alpha</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Server monitor</a></li>
          <li class="active"><a href="#">Task manager</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <br/><br/>

    <!-- Upload zip files + JS code -->
    <div class="new_task">
        <h3>NEW TASK</h3>
        <form id="upload"  action="" method="POST" enctype="multipart/form-data">
            <b>Task Name:</b> <input type="text" name="TASK_NAME" value="">
            <b>Task Description:</b> <input type="text" name="TASK_DESC" value="">
            <div class="upload_button"><b>JavaScript Code:&nbsp</b><input type="file" name="JS_FILE"></div>
            <div class="upload_button"><b>Data Archive:&nbsp</b><input type="file" name="ZIP_FILE"></div>
            <div class="upload_button"> <input type="submit" value="Upload files"></div>
        </form>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

    <div class="task_list">
        <h3>TASK MANAGER</h3>
        <table class="table table-striped">
            <thead>
                <th>Expand</th>
                <th>Task name</th>
                <th>Task status</th>
                <th>Time submitted</th>
                <th>Time started</th>
                <th>Time completed</th>
                <th>Remove task</th>
            </thead>
            <tbody>
                {% for task in task_list %}
                    <tr id="{{ task.task_id }}">
                        <td><button class="expand_btn" name=""
                                    value=" " data-href="#content{{ task.task_id }}">
                            <img src="static/more.png" style="width:16px;height:16px;">
                        </button></td>
                        <td>{{ task.task_name }}</td>
                        {% if task.in_progress %}
                            <td><i class="fa fa-spinner fa-spin"></i>&nbspRunning . . .</td>
                        {% elif task.is_complete %}
                            <td>Complete!</td>
                        {% else %}
                            <td>Ready</td>
                        {% endif %}
                        <td>{{ task.time_submitted }}</td>
                        <td>{{ task.time_started }}</td>
                        <td>{{ task.time_completed }}</td>
                        <!--<td><img src="static/android-close.png" style="width:16px;height:16px;"></td>-->
                        <td> <form id="delete_task"  action="tasks/del/{{ task.task_id }}" method="POST" enctype="multipart/form-data">
                            <input type="image" src="static/android-close.png" alt="Submit Form" style="width:16px;height:16px;" />
                        </form></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% for task in task_list %}
        <div class="task_list" id="content{{ task.task_id }}">
            <p><b>Description:</b> {{ task.task_desc }}</p>
            <p><b>Change file:</b>
                <form id="update_data"  action="tasks/{{ task.task_id }}" method="POST" enctype="multipart/form-data">
                    <div class="upload_button"><b>JavaScript Code:&nbsp</b><input type="file" name="JS_FILE"></div>
                    <div class="upload_button"><b>Data Archive:&nbsp</b><input type="file" name="ZIP_FILE"></div>
                    <div class="upload_button"> <input type="submit" value="Upload files"></div>
                </form>
            </p>
        </div>
        {% endfor %}
    </div>

    <div id="footer">
        <p>Copyright (c) PhoneMap Team 2017, All rights reserved.</p>
        <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    </div>
</body>
</html>
